{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<main>
  <h1 class="mb-3">{{name}}</h1>
  <p><b>Was born in</b>
    <em>{{birthdate}}</em>
    in
    <em>{{birthplace}}</em>
  </p>
  <p><b>Died in</b>
    <em>{{deathdate}}</em>
    in
    <em>{{deathplace}}</em>
  </p>
  <p>
    <b>Nationality:</b>
    <em>{{nationality}}</em>
  </p>
  <p>
    <b>Occupation:</b>
    <em>{{occupation}}</em>
  </p>
  {{> title data="Known for" big=true}}
  <ul>
    {{#each known_for}}
    <li class="mb-2">{{this}}</li>
    {{/each}}
  </ul>
  {{> title data="Education" big=true}}
  {{#each education}}
  <p>
    <b>Degree:</b>
    <em>{{degree}}</em>
  </p>
  <p>
    <b>Field:</b>
    <em>{{field}}</em>
  </p>
  <p>
    <b>Institution:</b>
    <em>{{institution}}</em>
  </p>
  <p>
    <b>Year:</b>
    <em>{{year}}</em>
  </p>
  {{/each}}
  <div>
    {{> title data="Notable publications" big=true}}
    <ul>
      {{#each notable_publications}}
      <li class="mb-2">
        <div class="mb-1"><b>{{title}}</b> ({{year}})</div>
        <div>
          Publisher: {{publisher}}
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <div>
    {{> title data="Partners" big=true}}
    <ul>
      {{#each partners}}
      <li>
        <p><b>{{name}}</b> ({{years}}) – {{relationship}}</p>
      </li>
      {{/each}}
    </ul>
  </div>
  <div>
    {{> title data="Awards" big=true}}
    <ul>
      {{#each awards}}
      <li>
        <p><b>{{title}}</b> ({{year}}) <em>"{{description}}"</em></p>
      </li>
      {{/each}}
    </ul>
  </div>
  <div>
    {{> title data="Influences" big=true}}
    <ul>
      {{#each influences}}
      <li class="mb-1">{{this}}</li>
      {{/each}}
    </ul>
  </div>
  <div>
    {{> title data="Influenced" big=true}}
    <ul>
      {{#each influenced}}
      <li class="mb-1">{{this}}</li>
      {{/each}}
    </ul>
  </div>
  <div>
    {{> title data="Quotes" big=true}}
    <ul>
      {{#each quotes}}
      <li>
        <blockquote>{{this}}</blockquote>
      </li>
      {{/each}}
    </ul>
  </div>
  <div>
    {{> title data="Major discoveries" big=true}}
    <ul>
      {{#each major_discoveries}}
      <li>
        <div class="mb-2">
          <b>{{title}}</b> ({{year}})
        </div>
        <div>
          <em>"{{description}}"</em>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>

  <div>
    {{> title data="Contributions" big=true}}
    <ul>
      {{#with contributions}}
      <li>
        <div class="mb-1">
          <b>{{title}}</b> ({{year}})<em>
        </div>
        <div class="mb-1">
          <b>Field:</b> {{field}}</em>
        </div>
        <div>
          <blockquote>"{{description}}"</blockquote>
        </div>
      </li>
      {{/with}}
    </ul>
  </div>
</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}