{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  {{#with program}}
    {{#with excursion}}
      <h1>{{name}}</h1>
      <b>Location:</b>
      {{location.city}}
      /
      {{location.country}}
      <br />
      <b>Date:</b>
      {{date}}
      <hr />
      {{> title data="Program" big=true}}
      <ol>
        <li>
          <b><em>{{program.[0].name}}</em></b>
          <br>
          Type: <em>{{program.[0].type}}</em>
          <br>
          Duration: <em>{{program.[0].duration}} hrs.</em>
          {{> title data="Details"}}
          {{#with program.[0].details}}
            {{#with museum}}
              <b>Museum:</b> {{name}}
              <br>
              <b>Address:</b> 
              {{#with location}}
                {{address}} / {{city}} / {{country}}
              {{/with}}
              {{> title data="Exibits"}}
                <ul>
                  {{#each exhibits}}
                    <li>
                      <b>Name:</b> {{name}}
                      <br>
                      <b>Artist:</b> {{#if artist}} {{artist}} {{else}} Various artists {{/if}}
                      <br>
                      <b>Description:</b> {{description}}
                      <br>
                      <b>Audio guide:</b> {{#if audio_guide}} Yes {{else}} No {{/if}}
                    </li>
                    <br>
                  {{/each}}
                </ul>
            {{/with}}
            {{> title data="Guide"}}
            {{#with guide}}
              <b>Name:</b> {{name}}
              <br>
              <b>Language:</b> {{language}}
              <br>
              <b>Rating:</b> {{rating}}
              {{/with}}
          {{/with}}
          <hr>
          <br>
        </li>
        <li>
          <b><em>{{program.[1].name}}</em></b>
          <br>
          Type: <em>{{program.[1].type}}</em>
          <br>
          Duration: <em>{{program.[1].duration}} hrs.</em>
          {{> title data="Details"}}
            {{#with program.[1].details}}
              {{#with venue}}
              <b>Venue:</b> {{name}}
                <br>
                <b>Address:</b> 
                {{#with location}}
                  {{address}} / {{city}} / {{country}}
                {{/with}}
              {{/with}}
              {{> title data="Performers"}}
              <ul>
                  {{#each performers}}
                    <li>
                      <b>Name:</b> {{name}}
                      <br>
                      <b>Type:</b> {{type}}
                    </li>
                    <br>
                  {{/each}}
                </ul>
              {{> title data="Guide"}}
              {{#with guide}}
                <b>Name:</b> {{name}}
                <br>
                <b>Language:</b> {{language}}
                <br>
                <b>Rating:</b> {{rating}}
              {{/with}}
            {{/with}}
          <hr>
          <br>
        </li>
      </ol>
    {{/with}}
  {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}