{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<main>
  {{#with program}}
  {{#with excursion}}
  <h1>{{name}}</h1>
  <div class="mb-2">
    <b>Location:</b>
    {{location.city}} / {{location.country}}
  </div>
  <div>
    <b>Date:</b>
    {{date}}
  </div>
  <hr />
  {{> title data="Program:" big=true}}
  <ol>
    <li>
      <div class="mb-1">
        <b><em>{{program.[0].name}}</em></b>
      </div>
      <div class="mb-1">
        Type: <em>{{program.[0].type}}</em>
      </div>
      <div class="mb-3">
        Duration: <em>{{program.[0].duration}} hrs.</em>
      </div>
      {{> title data="Details:"}}
      {{#with program.[0].details}}
      {{#with museum}}
      <div class="mb-1">
        <b>Museum:</b> {{name}}
      </div>
      <div class="mb-3">
        <b>Address:</b>
        {{#with location}}
        {{address}} / {{city}} / {{country}}
        {{/with}}
      </div>
      {{> title data="Exibits:"}}
      <ul>
        {{#each exhibits}}
        <li>
          <div class="row mb-3 g-1">
            <div>
              <b>Name:</b> {{name}}
            </div>
            <div>
              <b>Artist:</b> {{#if artist}} {{artist}} {{else}} Various artists {{/if}}
            </div>
            <div>
              <b>Description:</b> {{description}}
            </div>
            <div>
              <b>Audio guide:</b> {{#if audio_guide}} Yes {{else}} No {{/if}}
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
      {{/with}}
      {{> title data="Guide:"}}
      {{#with guide}}
      <div class="row g-1">
        <div>
          <b>Name:</b> {{name}}
        </div>
        <div>
          <b>Language:</b> {{language}}
        </div>
        <div>
          <b>Rating:</b> {{rating}}
        </div>
      </div>
      {{/with}}
      {{/with}}
      <hr>
    </li>
    <li>
      <div class="row g-1 mb-3">
        <div>
          <b><em>{{program.[1].name}}</em></b>
        </div>
        <div>
          Type: <em>{{program.[1].type}}</em>
        </div>
        <div>
          Duration: <em>{{program.[1].duration}} hrs.</em>
        </div>
      </div>
      {{> title data="Details:"}}
      {{#with program.[1].details}}
      {{#with venue}}
      <div class="row g-1 mb-3">
        <div>
          <b>Venue:</b> {{name}}
        </div>
        <div>
          <b>Address:</b>
          {{#with location}}
          {{address}} / {{city}} / {{country}}
          {{/with}}
        </div>
      </div>
      {{/with}}
      {{> title data="Performers:"}}
      <ul>
        {{#each performers}}
        <li>
          <div class="row g-1 mb-3">
            <div>
              <b>Name:</b> {{name}}
            </div>
            <div>
              <b>Type:</b> {{type}}
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
      {{> title data="Guide:"}}
      {{#with guide}}
      <div class="row g-1">
        <div>
          <b>Name:</b> {{name}}
        </div>
        <div>
          <b>Language:</b> {{language}}
        </div>
        <div>
          <b>Rating:</b> {{rating}}
        </div>
      </div>

      {{/with}}
      {{/with}}
      <hr>
    </li>
  </ol>
  {{/with}}
  {{/with}}
</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}