{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}
<section>
  {{#with page_header}}
    <h1 class='text-center'>{{title}}</h1>
    <p
      class='text-center text-uppercase'
    >{{description}}</p>
  {{/with}}
  {{#with section}}
    <div class='card'>
      <div class='card-body'>
        {{#with about_us}}
          {{#with title_list}}
            <div class='display-6 text-end'>{{main}}</div>
            <br />
            <h2 class='text-end'>{{sub}}</h2>
          {{/with}}
          <br />
          {{#with button}}<button
              class='btn btn-outline-info'
            >{{text}}</button>{{/with}}
        {{/with}}
      </div>
    </div>
    <br />
    {{#with advantage}}
      <div class='card'>
        <div class='card-body'>
          <div class='display-5 text-muted'>{{title}}</div>
          <br />
          {{#with efficiency}}
            <div class='card'>
              <div class='card-body'>
                <div
                  class='display-4 text-muted'
                >{{title}}</div>
                <br />
                <h6>{{sub_title}}</h6>
                <br />
                <p>{{description}}</p>
                <br />
                <button
                  class='btn btn-outline-warning'
                >{{button}}</button>
              </div>
            </div>
          {{/with}}
          <br />
          {{#with innovation}}
            <div class='card'>
              <div class='card-body'>
                <div
                  class='display-4 text-muted text-center'
                >{{title}}</div>
                <br />
                <h6 class='text-center'>{{sub_title}}</h6>
                <br />
                <p class='text-center'>{{description}}</p>
                <br />
                <button
                  class='btn btn-outline-warning'
                >{{button}}</button>
              </div>
            </div>
          {{/with}}
          <br />
          {{#with collaboration}}
            <div class='card'>
              <div class='card-body'>
                <div
                  class='display-4 text-muted text-end'
                >{{title}}</div>
                <br />
                <h6 class='text-end'>{{sub_title}}</h6>
                <br />
                <p class='text-end'>{{description}}</p>
                <br />
                <button
                  class='btn btn-outline-warning'
                >{{button}}</button>
              </div>
            </div>
          {{/with}}
        </div>
      </div>
    {{/with}}
    <br />
    {{#with agreement}}
      <div class='card'>
        <div class='card-body'>
          <div class='display-4'>{{title}}</div>
          <br />
          {{#with info}}
            <div class='card'>
              <div class='card-body'>
                <h5>{{sub_title}}</h5>
                <br />
                {{#with detail}}
                  <div class='card'>
                    <div class='card-body'>
                      <p>{{text}}</p>
                      <button
                        class='btn btn-success'
                      >{{button}}</button>
                    </div>
                  </div>
                {{/with}}
              </div>
            </div>
          {{/with}}
        </div>
      </div>
    {{/with}}
  {{/with}}

</section>
{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}