{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}
<section>
  {{#with heading}}
    <div class='card'>
      <div class='card-body'>
        {{#with main}}
        <div class='card'>
          <div class='card-body'>
            <h1>{{title}}</h1>
            <p>{{text}}</p>
            {{#with button_text}}
            <button class='btn btn-primary'>{{solid}}</button>
            <br />
            <br />
            <button class='btn btn-outline-primary'>{{outline}}</button>
            {{/with}}
          </div>
          {{/with}}
        </div>
        <br />
        {{#with second}}
        <div class='card'>
          <div class='card-body'>
            <h2>{{title}}</h2>
            <p>{{text}}</p>
            {{#with button_text}}
            <button
              class='btn btn-secondary'
            >{{solid}}</button>
            <br />
            <br />
            <button
              class='btn btn-outline-secondary'
            >{{outline}}</button>
            {{/with}}
          </div>
        </div>
        {{/with}}
        <br />
        {{#with subblock}}
        <div class='card'>
          <div class='card-body'>
            <h3>{{title}}</h3>
            <p>{{text}}</p>
            {{#with button_text}}
            <button class='btn btn-dark'>{{solid}}</button>
            <br />
            <br />
            <button
              class='btn btn-outline-dark'
            >{{outline}}</button>
            {{/with}}
          </div>
        </div>
        {{/with}}
      </div>
    </div>
  {{/with}}
  <br />
  {{#with nested_display}}
  <div class='card'>
    <div class='card-body'>
      <div class='display-1'>{{title}}</div>
      <br />
      {{#with children_display}}
      <div class='card'>
        <div class='card-body'>
          <div class='display-4'>{{title}}</div>
          <p>{{text}}</p>
          {{#with button}}
          <button
            class='btn btn-outline-warning'
          >{{text}}</button>
          {{/with}}
        </div>
      </div>
      {{/with}}
      <br />
      <h6>{{header_text}}</h6>
      {{#with button}}
      <button class='btn btn-info'><span
          class='text-light'
        >{{text}}</span></button>
      {{/with}}
    </div>
  </div>
  {{/with}}
  <br />
  <br />
  {{#with paragraph}}
  <div class='card'>
    <div class='card-body'>
      <p class='text-uppercase'>{{title}}</p>
      <p class='text-lowercase'>{{text}}</p>
      {{#with button}}
      <a href='{{url}}'>{{text}}</a>
      {{/with}}
      <br />
      <br />
      <div class='card'>
        <div class='card-body'>
          {{#each list_name}}
          <ul>
            <li>
              <button class='btn btn-outline-light'><span
                  class='text-primary'
                >{{text}}</span></button>
            </li>
          </ul>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  {{/with}}
</section>
{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}