{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
  {{#with main}}
  <main>
    <section class="row g-3">
      {{> title data="Work history" big=true}}
      <div>
        <ul>
          {{#each works}}
          <li class="mb-2">
            <div>{{position}}</div>
            <div class="my-2">
              {{duration.from}} -
              {{#if duration.to}}
              {{duration.to}} {{else}}
              (досі працюємо)
              {{/if}}
            </div>
            <div class="mt-3">
              {{#if company.url}}
              {{> link text=company.name href=company.url blank=true noLine=true}}
              {{else}}
              <h3>{{company.name}}</h3>
              {{/if}}
            </div>
            <h4 class="my-3">Projects <span class="badge text-bg-primary">{{projectAmount}}</span></h4>
            <ul>
              {{#each projects}}
              <li>
                <h5 class="mb-3">{{> link text=name href=url blank=true noLine=true}}</h5>
                <div>
                  <p>{{about}}</p>
                </div>
                <em>Project stacks ({{stackAmount}})</em>
                <div class="mt-1 mb-3">
                  <ul>
                    {{#each stacks}}
                    <li class="mb-1">
                      {{name}}
                    </li>
                    {{/each}}
                  </ul>
                </div>
                <em>Project awards ({{awardAmount}})</em>
                <div class="mt-1">
                  <ul>
                    {{#each awards}}
                    <li class="mb-1">
                      {{name}}
                    </li>
                    {{/each}}
                  </ul>
                </div>
              </li>
              {{/each}}
            </ul>
          </li>
          {{/each}}
        </ul>
      </div>
    </section>


  </main>
  {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}